ul li {
    background-color: powderblue;
}
ul li {
    color: purple;
}
.heart {
    font-family: 'Helvetica Narrow', 'Arial', sans-serif;
    font-weight: bolder;
}
.Disclaimer {
    font-style: italic;
}